In [64]:
var = int(2)
f = float(var)
print(f)
print(type(f))
s = str(var)
print(s)
print(type(s))

2.0
<class 'float'>
2
<class 'str'>

In [2]:
x = 7*(3+8-4)/6   #Arithmetic Operators
print(x)
y = int(x) % 2
print(y)
z = y ** 3
print(z)
k = z // 3
print(k)

8.166666666666666
0
0
0

In [66]:
x = 5        #Assignment Operators
print(x)
x +=3
print(x)
x -=3
print(x)
x *=3
print(x)
x /=3
print(x)
x %=3
print(x)
x = 8
x //=3
print(x)
x **=3
print(x)

5
8
5
15
5.0
2.0
2
8

In [67]:
2 == 3    #Comparision Operators
2!=3
2>3
2<3
2>=3
2<=3
2<=2

True

In [88]:
a =2           #Logical Operators
b=3
a>2 and b <3 # false and false = false
a>3 and b==3 # false and true = false
a ==2 and b<=3 # true and true =false
a ==2 or b<3 # true and false = false
a==3 or b==3 # false or true = true
a <1 or b >4 #true or false = true
a < 3 or b >4 # true or false =false
a ==2 or b<4 # true or true =true
not a > b
not a ==b
not a<3
False and g
'' and v
[] and v
c = {} and v
print (c)
True or f
'hello' or n

{}

'hello'

In [1]:
x ='bb'          #Identity operators
type(x) is str
type(x) is not int
type (x) is float
h =0
x == 'aa' and h
x == 'bb' and h

0

In [8]:
#Membership Operators
'h' in 'hello'
'ell' in 'hello'
'm' in 'hello'
'm' not in 'hello'

True

In [10]:
#Bitwise Operators
2 & 3

2

In [3]:
#LIST
ad = ['Ram','Shyam',7,8,97,78,5,'juy']
print(len(ad))
cy = [1,3.8,'Hello',True]
print(cy)
print(len(cy)) #length of list cy
print(ad[-1])  #last item of list
print(ad[0])     #first item of list
print(ad[1:4])  #accessing 2nd item to 4th item of list ,5th item i.e [4] will be excluded
print(ad[1:])  #accessing 2nd item to last item of list
2 in ad        #using membership operator in list
2 not in ad    #using membership operator (not in ) in list
ad[1] = 'btr'   #changing 2nd item of list 
print(ad)
ad[6:9]=3,'ty','oi' #changing 7th item of list to 9th item of list ,10th item excluded
print(ad)
ad[1:3]="fsdd","as" #changing 2nd item of list to 4th item of list,5th item excluded
print(ad)
print(type(ad)) # type of data printed

8
[1, 3.8, 'Hello', True]
4
juy
Ram
['Shyam', 7, 8]
['Shyam', 7, 8, 97, 78, 5, 'juy']
['Ram', 'btr', 7, 8, 97, 78, 5, 'juy']
['Ram', 'btr', 7, 8, 97, 78, 3, 'ty', 'oi']
['Ram', 'fsdd', 'as', 8, 97, 78, 3, 'ty', 'oi']
<class 'list'>

In [8]:
#Insert items in list

In [13]:
my_list=[1,2,3]
my_list.insert(1,"inserted") #insert will not replace original items
my_list

[1, 'inserted', 2, 3]

In [14]:
#Add List items

In [16]:
my_list=[1,2,3]
my_list.append(4)  #append will add item at the last of list
print(my_list)

[1, 2, 3, 4]

In [17]:
another_list=[6,7]
my_list.extend(another_list)  #extend will add another list to existing list
print(my_list)

[1, 2, 3, 4, 6, 7]

In [20]:
my_list=[1,2,2,3,4,5]
my_list.remove(2)   #remove can remove duplicates,but only first
print(my_list)  
my_list.remove(2)   #remove will remove second duplicates
print(my_list)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [22]:
my_list=[2,4,5,6]
my_list.pop(2)  #pop with arguement 2 will remove 3rd item of list
print(my_list)
my_list.pop()   #pop with no arguemnet will ill remove last item of list
print(my_list)

[2, 4, 6]
[2, 4]

In [25]:
my_list=[1,2,3]
del my_list[2] #del also deletes specified index item list
my_list
num_list=[4,5,6]
del num_list #del can also delete entire list
num_list

NameError: name 'num_list' is not defined

In [27]:
y_list =[5,6,7]
my_list.clear()  #clear will delete all items of list 
my_list

[]

In [50]:
months_list=['Jan', 'Feb', 'Mar', 'Apr']
months_list.sort()      #sort will arrange strings alphabetically
months_list
years_list=[1999,2023,1991,2022]
years_list.sort  #sort will arrange integers in ascending order
years_list
years_list.sort(reverse=True)  #sort(reverse=True) will arrange integers in descending order
years_list
cities_list=['Kathmandu','Chicago',' France','London','brazil']
cities_list.sort() #sort() will arrange strings where capital words starting string will come first
cities_list
cities_list.sort(key=str.lower) #sort(key=str.lower) will sort strings alphabetically regardless words starting with capital letters
cities_list
num_list=[5,4,3,2,1]
num_list.reverse() #reverse() will arrange strings or integers in reverse order
num_list
list_1=[1,2,3]
list_2=list_1.copy() #copy() will copy list_1 to list_2
list_2
list_3=[3,4,5]
list_4=list(list_3) #list() will copy list_3 to list_4
list_4
list_5=list_1+list_2+list_3+list_4 #using + operator all lists are joined
list_5
list_6=[1,2,3]
list_7=['Hi',' There']
list_7.extend(list_6) #extend() method will add list_6 to end of list_7
list_7

['Hi', ' There', 1, 2, 3]

In [53]:
#Python Conditionals

In [64]:
#if statement
x=7
if x>6:
    print("x is greater than 6 ")

x is greater than 6

In [69]:
#if statement
y=9
if y==9:
    print("y is eual to 9")

y is eual to 9

In [72]:
#elif keyword
x=2
if x>5:
    print('x is greater than 5')
elif x>3:
    print('x is grater than 3')
elif x >1:
    print('x is greater than 1')

x is greater than 1

In [74]:
#else keyword
x =1
if x>5:
    print('x is greater than 6')
elif x>3:
    print('x is greater than 3')
else:
    print('x is equal to 1')

x is equal to 1

In [76]:
#short-hand if
x =3
if x==3: print('x is equal to 3') #short-hand if (if statement and print function in one line)

x is equal to 3

In [78]:
#short-hand if-elif
x=2
print('x is equal to 2') if x==2 else print('x is not equal to 2')

x is equal to 2

In [3]:
#nested if
x =35
if x>10:
    print('x is greater than 10')
    if x<30:
        print('x is less than 30')
    else:
        print("and 30 as well")

x is greater than 10
and 30 as well

In [6]:
#while loop
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [8]:
#break statement
x=0
while x<5:
    print(x)
    x+=1
    if x==4:
        break

0
1
2
3

In [17]:
#continue statement
x=0
while x<10:
    x+=1
    if x==3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

In [19]:
#for loop (a list)
num=[1,2,3]
for i in num:
    print(i)

1
2
3

In [25]:
#for loop (a string)
for t in "tiger":
    print(t)
for g in "grape":
    print(g,end='')

t
i
g
e
r
grape

In [27]:
#range function for 1 argument 
for i in range(7):# 1st number is o by default and increments by 1
    print(i)

0
1
2
3
4
5
6

In [29]:
#range function with 2 arguments
for i in range(6,9): #skips the second argument and prints the first argument
    print(i)

6
7
8

In [33]:
#range function with 3 arguments
for i in range(1,6,2): # starts with first argument,one less than second argument and increments by third argument
    print(i)

1
3
5

In [35]:
#Nested Loop
subjects=['math','science','nepali']
time=[9,12,6]
for i in subjects:
    for j in time:
        print(i,j)

math 9
math 12
math 6
science 9
science 12
science 6
nepali 9
nepali 12
nepali 6

In [41]:
#Python Functions
def multiply(x,y):#def is a keyword to create a function name multiply,x&y are parameters
    return x*y #function returns the sum of x and y
multiply(45,68)
multiply(2)# error when passing 1 argument when 2 parameters are defined inside the multiply function
multiply(1,2,3) #error when passing 3 arguments when 2 parameters are defined inside the multiply function

TypeError: multiply() missing 1 required positional argument: 'y'

In [1]:
#arbitrary arguments
def add(*nums):
    total = 0
    for i in nums:
        total += i
    return total

result = add(1, 2, 3, 23)
print(result)

29

In [10]:
#default parameter value
def multiply(x,y=3):
    return x*y
multiply(4) #default parameter y=3,argument value of x =4
def subtract(z=3,c):
    return z-c
subtract(4) # returns error,as 4 is assumed to be default value of z

SyntaxError: parameter without a default follows parameter with a default (3608249900.py, line 5)

In [12]:
#Lambda functions
sum = lambda x,y,z:x+y+z
sum(2,5,8)

15

In [27]:
#Python Tuples
my_tuple=('Hi','There',2,3)
my_tuple
#Index in Tuple
print(my_tuple[0])
print(my_tuple[1])
sd=(1,2,3,1)
sd
len(sd) #length of tuple sd
de=('Hello')
type(de) #type of tuple is string as there is only element that too no coma at last
er=('Hi',)
type(er) # coma at last of element in tuple gives type tuple
my_tuple=('Hello', 'world',1,2)
print("my_tuple[1] =",my_tuple[1]) #prints 2nd item of tuple
print("my_tuple[1:3] =",my_tuple[1:3]) # print at index 1(second element) to index 2(third element)
#delete tuples
d=(1,2,3)
del d #deleted tuple d will del keyword
d

Hi
There
my_tuple[1] = world
my_tuple[1:3] = ('world', 1)

NameError: name 'd' is not defined

In [38]:
s1,s2,s3 = ('1','2','3') #unpack tuples
print (s1)
print(s2)
print(s3)
print(s1+s2+s3) #join tuples using +operator
(1,2,3)*3 # multiply tuple with * operator

1
2
3
123

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
my_tuple=('i','love','python')
for item in my_tuple: #loop through a tuple
    print(item)

i
love
python